<div class="wy-slider" #wySlider [class.drag-able]="dragAble" [class.wy-slider-vertical]="sliderIsVertical">
  <app-wy-slider-track [sliderIsVertical]="sliderIsVertical" [sliderBufferOffset]="sliderBufferOffset" [isBufferSlider]="true"></app-wy-slider-track>
  <app-wy-slider-track [sliderIsVertical]="sliderIsVertical" [sliderOffset]="sliderOffset"></app-wy-slider-track>
  <app-wy-slider-handle [dragAble]="dragAble" [sliderIsVertical]="sliderIsVertical" [sliderOffset]="sliderOffset"></app-wy-slider-handle>
</div>
